body{
    margin:0; /*Espaciado interior */
    padding: 0; /*Espaciado exterior */
    background: #CAF0F8;
}

.name {
    width: 100%; /*Ancho */
    height: auto;/* altura*/
    background:#0077B6;  /*Color del fondo*/  
    justify-content: center; /*centrado horizontal*/
    align-items:center;/*centrado vertical*/
        
}

.name .foto img{
    width: 297px;
    height: 360px; 
      
}
.name .foto{
    position: relative;
    top: 20px;    
    width: 297px;
    height: 297px;/*width y height iguales para crear un cuadro que luego se convierte en un circulo*/
    border-radius: 100%; /*hace un circulo*/
    overflow: hidden;
    margin: auto;  

}

.name .content{
    width: 50%;
    height: 50%; /*50% de los 300px definido anteriormente en el .name*/
    position:relative;
    left: 25%;
    text-align: center;
}

.name .content .yo{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 46px;
    margin-bottom: 0;
}

.name .content .ocupacion{
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 1%;
    text-align: center;
}



.info{
    width: 90%;
    height: auto; /* auto crea una caja de tamaño segun el contenido*/
    background-color: #00B4D8;
    margin: 5% auto; /*Espaciado interior */
    padding: 20px; /*Espaciado exterior */
    border-radius: 10px;
}

.info .titulo{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #90E0EF solid;
    margin-top: 0;
    margin-bottom: 25px;
}

.info .subt{
    color: white;
    font-family:'Poppins', sans-serif ;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 10px; /*genera un espacio/margen, debido a que el texto se toma como una cajita*/
}
.info .cont{
    color: #03045E;
    font-family:'Josefin Sans', sans-serif ;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info span {
    display: inline-block; /*Para colocar boques en linea */
    width: auto;
    height: auto;
    padding: 1px;
    margin-right:5px;
    margin-left: 0;
    background-color: #CAF0F8;
    color: #03045E;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
}

.info2{
    width: 90%;
    height: auto; /* auto crea una caja de tamaño segun el contenido*/
    background-color: #00B4D8;
    margin: 5% auto; /*Espaciado interior */
    padding: 20px; /*Espaciado exterior */
    border-radius: 10px;    
}

.info2 .titulo{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #90E0EF solid;
    margin-top: 0;
    margin-bottom: 25px;
}

.info2 .subt{
    color: white;
    font-family:'Poppins', sans-serif ;
    font-weight: bolder;
    font-size: large;    
    margin-right: 10px; /*genera un espacio/margen, debido a que el texto se toma como una cajita*/
}
.info2 .cont{
    color: #03045E;
    font-family:'Josefin Sans', sans-serif ;
    font-weight:normal;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
  
}
